
<p-menubar [model]="items" [style]="{'padding': '10px 20px'}">
  <ng-template pTemplate="start">
    <div class="nav-image">
      <img class="nav-image" routerLink=" " src="../../../../assets/images/seguros-app-logo.png" alt="logo de empresa" width="50" height="50">
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <p-button label="Primary" styleClass="p-button-raised p-button-text p-button-sm" routerLink="contacto" label="Consulta gratis"></p-button>
  </ng-template>
</p-menubar>
